 <div class="container">

  <div class="text-center">
    <h1>Geek Ground</h1>
  </div>

  <div class="row">

    <div class="col-md-6">

      <div>
        <h3>Discussion Stream</h3>
      </div>

    </div>

    <div class="col-md-6">

      <div>
        <h3>Movies</h3>
      </div>
      <div>
        <h3>TV Shows</h3>
      </div>
      <div>
        <h3>Movies</h3>
      </div>

    </div>

  </div>

</div>